<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Esto estaba solo en el head de productCart y de Home-->
     
        <!--Hasta acá-->
     
    </head>  
    <body>
   
    
        <main>

            <form method="POST" action="/" class="form" >

                <label>Concepto  </label> <input name="concept"  type="text"/>  <br/><br/>
                <label>Monto  </label> <input name="amount" type="number"/>  <br/><br/>
                <label>Fecha  </label> <input name="date" type="date"/>  <br/><br/>
                <label>tipo  </label>  <input name="type" type="text"/>  <br/><br/>

                <input class="enviaData" type="submit" value="Crear item">


             
                
                
                </form>
                
            
             








            </form>
           
    
            
    </main>
    
    

    </body>
    </html>
    

